/* navbar section */
.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    margin: -8px;
    width: 1343px;
    height: px;
    flex-wrap: wrap;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-left {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 0px 0px 120px;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 140px 0px 0px;
}

.navbar-heading {
    margin: 0;
    margin-right: 18px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.us {
    background-color: #dad9d9;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    height: 35px;

}

.navbar-icon {
    margin-right: 10px;
    width: 65px;
    height: 31px;
}

.icon {
    height: 40px;
    width: 40px;
}