* {
    font-family: 'Work Sans', sans-serif;
}

/* navbar section */
.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    margin: -8px;
    /* width: 1343px;
    height: px; */

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-left {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 0px 0px 120px;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 140px 0px 0px;
}

.navbar-heading {
    margin: 0;
    margin-right: 18px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.us {
    background-color: #dad9d9;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    height: 35px;

}

.navbar-icon {
    margin-right: 10px;
    width: 65px;
    height: 31px;
}

.icon {
    height: 40px;
    width: 40px;
}

/* Banner1 section */
.banner1 {
    background-image: url("images/Group\ 14.png"), url('images/Group\ 18.png');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 645px, 525px;
    /* height: 320px;
    width: 1050px; */
    margin: 7px 0px 0px -8px;
    padding: 90px;

}

.banner-heading {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -80px;
}

.banner-subheading {
    margin-bottom: 20px;
    font-size: 95px;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ban-icon {
    display: flex;
}

.banner-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;

}

.banner-paragraph {
    margin: 0px 0px 12px 20px;
}

.banner-buttons {
    margin-top: 20px;
}

.banner-button1 {
    padding: 10px 20px;
    background-color: #FF42A5;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 20px;
}

.banner-button2 {
    padding: 10px 20px;
    background-color: #4EC5F7;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 20px;
}

/* Banner 2 */

.banner2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -2px 0px 0px -8px;
    /* width: 1343px;
    height: 400px; */
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner2-image {
    width: 584px;
    height: 354px;
    margin: 0px 0px 0px 120px;
}

.banner2-content {
    flex-grow: 1;
    text-align: right;
    color: #333;
    margin: 0px 120px 0px 0px;
}

.banner2-heading {
    text-align: right;

    font-size: 38px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner2-paragraph {
    color: #534C64;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.banner2-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF42A5;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
}

/* online game section3 */
.section3 {
    text-align: center;
    /* width: 1343px;
    height: 600px; */
    margin: -7.5px;
    padding: 20px;
}

.sec3-heading {
    font-size: 34px;
}

.sec3-paragraph {
    margin-top: -20px;
    color: #534C64;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 30px;
}

.sec3-images {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    margin: 50px 0px 10px 0px;
}

.sec3-image {
    margin: 0px -100px;
    transition: border-color 0.3s, background-color 0.3s;
    width: 230px;
    display: flex;
}

.sec3-image:hover {
    border: 4px solid rgb(231, 45, 141);
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
    background-color: #77777774;

}

.sec3-caption {

    margin-top: 10px;
    display: flex;
}

.sec3-para {
    text-align: left;
    margin: 0px 100px 0px 0px;
    color: #534C64;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

/* play instantly */
/* section 1 */
.play-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 100px 0px;
}

.play-left{

    margin:0px 0px 0px 10px ;
}

.play-heading{
    text-align: right;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
}

.play-pra{   
    text-align: right;
    color: #534C64;
    font-size: 13px;
    font-weight: 400;
    margin-top: -20px;

}


.play-img {
    position: relative;
    margin: 10px 0px 0px 300px;
  }
  
  .play-img1{
    width: 360px;
    height: 370px;
  }
  .overlay-image {
    position: absolute;
    top: 200px;
    left: -90px;
    width: 180px;
    height: 220px;
  }

/* section 2 */
.overlay-image2 {
    position: absolute;
    top: 250px;
    right: -60px;
    width: 150px;
    height: 180px;
  }
.play-img2 {
    position: relative;
    margin: 10px 230px 0px 0px;
  }
  .play-heading2 {
    text-align: left;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
}
.play-pra2 {   
    text-align: left;
    color: #534C64;
    font-size: 13px;
    font-weight: 400;
    margin-top: -20px;

}
.online{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* careers */
.care-sec{
    display: flex;
   justify-content: center; 
   align-items: center;
   margin: 0px -0px 40px -8px;
   background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.care-left{
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding:  50px 0px 50px 150px;
}
.care-pragraph{
    text-align: justify;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}
.care-pra{
    display: flex;
justify-content: space-between;
color: #FFF;
font-size: 15px;
font-weight: 450;
line-height: 25px; /* 166.667% */

}
.care-pra2{
    text-align: right;

}
.care-img{
    width: 725px;
    height: 600px;
}
.
/* more game section */

.more-game {
    margin: 100px 50px 100px 50px;
    background-color: #fffff0;
}

.more-game img {
    width: 40px;
    height: 40px;

}

.more-game span {
    margin: 10px 40px 10px 10px;
}

.more1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 40px 10px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;

}

/* footer section */

.footer {

    justify-content: center;
    background: #0B0223;
    color: white;
    /* width: 1343px;
    height: 400px; */
    padding: 20px;
    text-align: center;
    margin: 40px -8px -8px -40px;
}

.footer-sec {
    margin: 50px 0px 50px 0px;
}


/* item1 */
.item1 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.item1-img {
    width: 50px;
    height: 30px;
    margin: 20px 10px 10px 10px;
}

/* item2 */
.item2 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    line-height: 30px;


}

.item2-pra {
    margin: 0px 40px 10px 0px;
}

/* item3 */
.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.item3-img {
    width: 50px;
    height: 50px;
    align-items: center;
    align-content: center;

}

.item4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.item4-pra {
    margin: 0px 40px 10px 0px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 10px;
    font-weight: 500;

}

.footer-paragraph {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 10px;
    font-weight: 500;

}

/* hover try */
.image-container {
    position: relative;
    display: inline-block;
}

.hover-image {
    position: absolute;
    top: 120px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 30px;
    height: 30px;
}

.image-container:hover .hover-image {
    opacity: 1;
}